@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <a asp-controller="Agents" asp-action="AgentsList">Agents</a>
    <a asp-controller="Roles" asp-action="UserList">Roles</a>
    <a asp-controller="Customers" asp-action="CustomerList">Customers</a>
</header>

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}